.nav {
  /* width: 100vw; */
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem 1rem 1rem;
  font-size: 0.75rem;
  /* border: .0625rem solid red; */
}

.nav > div {
  display: flex;
  align-items: center;
}

.nav .logo {
  margin-right: 1rem;
}

.nav .logo__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.4375rem;
}

.nav > div > button,
.nav > div > div > button {
  background: none;
  border: none;
}

.nav > div > button > img,
.nav > div > div > button > img {
  margin-left: 1rem;
}

.nav > div > .plus__btn {
  background: #635fc7;
  border-radius: 1.5rem;
  width: 3rem;
  height: 2rem;
  mix-blend-mode: normal;
  /* opacity: 0.25; */
  color: #ffffff;
  font-size: 0.9375rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: ; */
}

.header__right {
  position: relative;
}

.header__right > .icon__ellipses {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.ellipses__options {
  position: absolute;
  top: 3.125rem;
  left: -2.1875rem;
  z-index: 1;
  box-shadow: 0rem 0.625rem 1.25rem rgba(54, 78, 126, 0.25);
  border-radius: 0.5rem;
  padding-right: 0.625rem;
}

.ellipses__options > p {
  padding: 1rem;
}

.hidden {
  display: none;
}

/* BOARDS MODAL  */

.boards__modal {
  /* width: 16.5rem; */
  width: 100%;
  height: 20.125rem;
  position: absolute;
  top: 3.875rem;
  /* left: 3.375rem; */
  left: 0;
  z-index: 2;
  background: #2b2c37;
  box-shadow: 0rem 0.625rem 1.25rem rgba(54, 78, 126, 0.25);
  border-radius: 0.5rem;
  /* margin-right: 3.25rem; */
  /* display: none; */
  /* transform: translateY(200%); */
  /* transform: translate(-50%, 200%); */
  transform: translateX(-150%);
  transition: transform 0.3s ease-out;
  /* border: .0625rem solid red; */
}

.boards__modal-content {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  width: 100%;
  height: 100%;
}

.boards__modal-content h1 {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.15rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 1.1875rem;
}

.boards__modal--list-item {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  /* border: .0625rem solid red; */
  margin-right: 1.5rem;
  border-radius: 0rem 6.25rem 6.25rem 0rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.boards__modal--list-item > img {
  margin-right: 0.75rem;
}

.boards__modal--list-item > h2 {
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
}

.toggle-theme__container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  border-radius: 0.375rem;
}

.toggle-theme__container > div {
  /* border: .0625rem solid red; */
  width: 2.5rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggle-theme__container > div > div {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  background-color: #ffffff;
  margin-right: 0.1875rem;
  margin-left: 0.1875rem;
}

#icon-arrow {
  transition: transform 0.5s ease-out;
}

.selected {
  color: #ffffff;
}

/* .modal-active {
  transform: translate(0, 0);
} */

/* FORM MODAL */
#form__modal--edit,
#form__modal--add,
#board__modal--add,
#board__modal--edit,
#form__modal--view,
#delete__modal {
  transform: scale(0);
  z-index: 2;
  transition: transform 0.2s ease-out;
  max-width: 480px;
  width: 90%;
}

.form__modal {
  /* border: .0625rem solid red; */
  position: absolute;
  top: 6.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: #ffffff;
  /* width: 100%; */
  /* border: .0625rem solid red; */
  /* height: 100%; */
  /* overflow: scroll; */
}

.form__modal-content {
  width: 100%;
  /* margin-left: 1.875rem; */
  /* margin-right: 1.875rem; */
  padding: 1.5rem;
  border-radius: 0.375rem;
}

.form__modal-content input,
.form__modal-content label,
.form__modal-content textarea {
  display: block;
}

.form__modal-content input,
.form__modal-content textarea,
select {
  background: none;
  border: 0.0625rem solid rgba(130, 143, 163, 0.25);
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #ffffff;
  margin-top: 0.5rem;
}

label {
  margin-top: 1.5rem;
}

.subtask {
  display: flex;
}

.subtask > img {
  margin-left: 1rem;
  object-fit: contain;
}

/* DELETE */
#delete__modal > div > h1,
#delete__modal > div > p {
  margin-bottom: 1.5rem;
}

#delete__modal > div > div {
  margin-bottom: 1rem;
}

@media screen and (min-width: 48rem) {
  #boards__modal {
    width: 16.5rem;
    height: 100%;
    width: 16.3125rem;
    left: 0;
  }
}

.subtask-checkbox {
  display: flex;
  align-items: center;
  padding: 13px 8px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.subtask-checkbox input[type="checkbox"] {
  accent-color: #635fc7;
}

input[type="checkbox"] {
  width: auto;
  margin-top: 0;
  margin-right: 10px;
}

[data-completed="true"] {
  opacity: 0.5;
  text-decoration: line-through;
}

.form__modal-content > h1, #form__modal--desc, .form__modal-content--task > h1 {
  margin-bottom: 24px;
}

.form__modal-content--task {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.form__modal-content--task img {
  padding-left: 10px;
  padding-right: 10px;
}

#ellipses__options--task {
  position: absolute;
  top: 25px;
  left: 70%;
}

