.light {
}

/* dark grey */
.bg--dark-grey {
  background: #2b2c37;
}

/* really dark */
.bg--dark {
  background: #20212c;
}

/* main purple */
.bg--purple {
  background: #635FC7;
}

.text--dark {
  color: #ffffff;
}